/* typography */

h1{
    font-size: 2rem;
    text-align: center;
}

p{
    font-size: 1rem;
}

/* boxes */

body{
    width: 98%;
    margin:0 auto;
    background: lightgoldenrodyellow;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.box{
    border-radius: 5%;
    width:50%;
    margin: auto;
    background: powderblue;
    text-align:center;
    padding: 30px;
}



/* links */


.submit{
    text-align: center;
}

.link{
    display:inline-block;
    font-size: 1.125rem;
    background: navy;
    padding: 10px 25px;
    color:yellow;
    text-decoration: none;
    
}

a :focus, a:hover{
    background:green;

}

.describe{
    padding-bottom:2rem;
}

.answer{
    min-height: 50px;
    min-width: 200px;
}